
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1>소개</h1>
      <p>이 앱은 사용자들이 정보를 공유하고 소통할 수 있는 플랫폼입니다. 취미, 관심사나 지식의 공유와 질문과 답변을 할 수 있습니다.</p>
      <p><strong>이용 수칙에 위반된 게시글, 댓글은 삭제되며 해당 사용자는 이용에 제한이 있을 수 있습니다.</strong></p>
    <h1>기능</h1>
    <ol>
      <li>게시글 작성 및 열람</li>
      <li>댓글 작성 및 열람</li>
      <li>관리자 기능(수정, 삭제, 신고)</li>
    </ol>
    <h1>지원 및 문의, 건의사항</h1>
    <p>아래 메일로 연락해주시면 감사하겠습니다.</p>
    <aside>
    💡 <strong>semo962046@gmail.com</strong>
    </aside>

    <h1>이용약관 및 개인정보처리방침</h1>
      <p><a href="https://sites.google.com/view/boardrodlswjdqh/%ED%99%88">이용약관 및 개인정보처리방침</a></p>
  </body>
</html>